.mainContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding: 8em;
    text-align: center;
}

.cardsContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 20px;
}
