.containerForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2em;
}
.text{
    display: flex;
    width: 15vw;
    text-align: center;
    color: #125203;
    cursor: pointer;

}
@media (max-width: 768px) {
    .text{
        width: 35vw;
    }
}