@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;  
    padding: 20px;  
    margin: 20px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardHeader {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
    font-weight: bold;
    color: rgba(39, 18, 2, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image {
    width: 100%;
    height: auto;
}

.cardFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.plus {
    width: 25px;
    height: 25px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 20px; 
}
